*.class
*.log
*.tar.gz
*.jar
*.war
*.rar
*.ear
*.nar
*.zip

.DS_Store
.classpath
.project
.settings
.springBeans
.springWebFlow
.studio
.idea
.iml
node_modules
package-lock.json

/classes/
/target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
